.sidebar_root{
  display: flex;
  flex-direction: column;
  grid-area:side;
  width: 100%;
  // background-color: var(--gray-light-opaque);

  .header{
    display: block;
    width: 100%;
    background-color: var(--gray-medium-opaque);
    margin: 0 auto;
    height: 3rem;
    line-height: 2rem;
    padding: 0.5rem 1rem;
    font-weight: 400;
    color: var(--white);
    font-size: 1.5rem;
    font-weight: bold;
    text-align: right;
  }
  .block {
    box-shadow: 0 0 1rem var(--secondary);
    &::after {
      content: '';
      display: block;
      height: 1rem;
      margin: 0;
      padding: 0;
      background-color: var(--gray-medium-opaque);
    }
    display: block;
    margin: 1rem 0;
    div:not(.content) {

    }
    .content div{
      padding: 1.2rem;
      border: none;
    }
  }
}