:root {
    --white: #fff;
    --black: #222222;
    --red: #ff3e00;
    --redForButton: #ff5721;
    --primary: #0a6fb8;
    --orange: rgba(255, 191, 37, 0.8);
    --orange-in-app: #F86826;
    --yellow: #ffbf25;
    --blue-light: #e7f1f8;
    --gray: rgba(136, 136, 136, 0.34);
    --gray-light: rgba(34, 34, 34, 0.2);
    --gray-very-light: rgba(34, 34, 34, 0.03);
    --secondary: rgba(10, 111, 184, 0.8);
    --left-borders: 0.5rem 0 0 0.5rem;
    --right-borders: 0 0.5rem 0.5rem 0;
    --top-borders: 0.5rem 0.5rem 0 0;
    --bottom-borders: 0 0 0.5rem  0.5rem;
    --gray-light-opaque: #eeeeee;
    --gray-medium-opaque: #cdcdcd;
    
    --down-arrow: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGcgZmlsbD0iIzIyMiI+CiAgICAgICAgICAgIDxnPgogICAgICAgICAgICAgICAgPGc+CiAgICAgICAgICAgICAgICAgICAgPGc+CiAgICAgICAgICAgICAgICAgICAgICAgIDxwYXRoIGQ9Ik0xMi40IDE1LjhsLTQuNjk0LTQuNjk0Yy0uMzktLjM5LS4zOTUtMS4wMTcuMDAyLTEuNDE0bC0uMDE2LjAxNmMuMzktLjM5IDEuMDIyLS4zOTQgMS40MTQtLjAwMkwxMi40IDEzbDMuMjk0LTMuMjk0Yy4zOS0uMzkgMS4wMTctLjM5NSAxLjQxNC4wMDJsLS4wMTYtLjAxNmMuMzkuMzkuMzg2IDEuMDMuMDAyIDEuNDE0TDEyLjQgMTUuOHoiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC01NjAgLTkxNikgdHJhbnNsYXRlKDI5NiA5MDApIHRyYW5zbGF0ZSg2NCA4KSB0cmFuc2xhdGUoMjAwIDgpIi8+CiAgICAgICAgICAgICAgICAgICAgPC9nPgogICAgICAgICAgICAgICAgPC9nPgogICAgICAgICAgICA8L2c+CiAgICAgICAgPC9nPgogICAgPC9nPgo8L3N2Zz4K");
    --key:url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iNDhweCIgdmlld0JveD0iMCAwIDI0IDI0IiB3aWR0aD0iNDhweCIgZmlsbD0iI0ZGRkZGRiI+PHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPjxwYXRoIGQ9Ik0xMi42NSAxMEMxMS44MyA3LjY3IDkuNjEgNiA3IDZjLTMuMzEgMC02IDIuNjktNiA2czIuNjkgNiA2IDZjMi42MSAwIDQuODMtMS42NyA1LjY1LTRIMTd2NGg0di00aDJ2LTRIMTIuNjV6TTcgMTRjLTEuMSAwLTItLjktMi0ycy45LTIgMi0yIDIgLjkgMiAyLS45IDItMiAyeiIvPjwvc3ZnPg==");
  
    --text-size-s1: #{rem(30px)};
    --text-size-s2: #{rem(26px)};
    --text-size-s3: #{rem(14px)};
  
    --font-family-default: 'Roboto';
  }

  .nossrWrapper{
    min-height: 100vh;
    height: 100%;
    position: absolute;
    width: 100%;
    display:grid;
    grid-template:
        [header-left] "head head head head head" auto [header-right]
        [main-top-left] "side main main main ." 1fr [main-top-right]
        [main-bottom-left] "side main main main ." 1fr [main-bottom-right]
        [footer-left] "foot foot foot foot foot" 1fr [footer-right]
        / 1fr 1fr 1fr 1fr 1fr;
  }