:root {
    --white: #fff;
    --black: #222222;
    --red: #ff3e00;
    --redForButton: #ff5721;
    --primary: #0a6fb8;
    --orange: rgba(255, 191, 37, 0.8);
    --orange-in-app: #F86826;
    --yellow: #ffbf25;
    --blue-light: #e7f1f8;
    --gray: rgba(136, 136, 136, 0.34);
    --gray-light: rgba(34, 34, 34, 0.2);
    --gray-very-light: rgba(34, 34, 34, 0.03);
    --secondary: rgba(10, 111, 184, 0.8);
    --secondary-light: rgba(10, 111, 184, 0.3);
    --left-borders: 0.5rem 0 0 0.5rem;
    --right-borders: 0 0.5rem 0.5rem 0;
    --top-borders: 0.5rem 0.5rem 0 0;
    --bottom-borders: 0 0 0.5rem  0.5rem;
    --gray-light-opaque: #eeeeee;
    --gray-medium-opaque: #cdcdcd;
    --text-size-s1: #{rem(30px)};
    --text-size-s2: #{rem(26px)};
    --text-size-s3: #{rem(14px)};
  
    --font-family-default: 'Roboto';
  }

  .nossrWrapper{
    min-height: 100vh;
    height: 100%;
    position: absolute;
    width: 100%;
    display:grid;
    grid-template:
        [header-left] "head head head head head" auto [header-right]
        [main-top-left] "side main main main ." 1fr [main-top-right]
        [main-bottom-left] "side main main main ." 1fr [main-bottom-right]
        [footer-left] "foot foot foot foot foot" 1fr [footer-right]
        / 1fr 1fr 1fr 1fr 1fr;
  }