.root{
  justify-content: center;
  display: flex;
  flex-direction: column;
  color: var(--white);
  font-weight: bold;
  border-left: 1px solid var(--white);
  padding: 0 1rem;
  min-width: 10rem;
  .user{
    display: block;
    padding: 5px;
  }
  .links{
    display: flex;
    a {
      text-decoration: none;
      background-color: white;
      border-radius: 5px;
      padding: 5px;
      white-space: nowrap;
    }
  }
}